body {
   background-color: grey;
        background-size: 100% 100%;
        width: 100%;
        margin: 0 auto;
    }

.centerpic {
	display: block;
	padding: 10px;
	border: 3px solid black;
}

.start {
	font-size: 32px;
	width: 200px;
	height: 100px;
	margin: 10px;
	padding: 10px;
	border: 3px solid black;
	background-color: blue;
	color: white;
}

.start:hover {
	cursor: pointer;
	color: maroon;
}

.wrapper {
	margin: 0 auto;
	width: 960px;
}
h1 {
	margin: auto;
	position: relative;
	left: 40%;
	padding: 10px;
	font-family: 'Audiowide', cursive;
	color: goldenrod;
}

h2 {
	margin: auto;
	position: relative;
	left: 40%;
	padding: 10px;
	font-family: 'Audiowide', cursive;
	color: silver;
}

.question {
	padding: 10px;
	border: 3px;
	display: inline-block;
}

.answers {
	display: block;
	padding: 10px;
	border: 3px;
}